@use './variables' as *;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  --_max-width: 768px;
  --_padding: 1rem;

  width: min(var(--_max-width), 100% - (var(--_padding) * 2));
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--_gap, 1rem);
}

.flex--between {
  justify-content: space-between;
  align-items: center;
}

.flex--center {
  align-items: center;
}

.grid {
  display: grid;
  gap: var(--_gap, 1rem);
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.vertical-line {
  height: auto;
  width: 1px;
  background-color: $clr-light-200;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.fs-800 {
  font-size: $fs-800;
}

.fs-500 {
  font-size: $fs-500;
}

.fs-400 {
  font-size: $fs-400;
}

.fs-300 {
  font-size: $fs-300;
}

.fs-200 {
  font-size: $fs-200;
}

.space-600 {
  margin-block: $space-600;
}
